<header *ngIf="loaded">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/employee-home', pathEmployeeId]">LandscapingTR</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/employee-home', pathEmployeeId]">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/time-entry', pathEmployeeId]">Weekly Time</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin', pathEmployeeId]">Employees</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/job-management', pathEmployeeId]">Jobs</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/settings', pathEmployeeId]">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="dummy-header"></div>

<!--DO NOT TOUCH THE HEADER, IT KEEPS TRACK OF THE LOGGED-IN EMPLOYEE VIA THE ROUTE-->



<div *ngIf="loaded" class="container">

  <h1>Edit Employee:</h1>
  <form *ngIf="loaded"
        name="form"
        #f="ngForm"
        novalidate>

    <div class="col-md-12 gap-3" style="display: flex; flex-direction: row;">
      <div class="form-group col-md-5">
        <label for="firstName">First Name</label>
        <input type="text"
               class="form-control"
               name="firstName"
               id="firstName"
               [(ngModel)]="form.firstName"
               required
               #firstName="ngModel" />
        <div class="alert alert-danger"
             role="alert"
             *ngIf="firstName.errors && f.submitted">
          First name is required!
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="lastName">Last Name</label>
        <input type="text"
               class="form-control"
               name="lastName"
               id="lastName"
               [(ngModel)]="form.lastName"
               required
               #lastName="ngModel" />
        <div class="alert alert-danger"
             role="alert"
             *ngIf="lastName.errors && f.submitted">
          Last name is required!
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-12 gap-3" style="display: flex; flex-direction: row;">
      <div class="form-group col-md-5">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               name="username"
               id="username"
               [(ngModel)]="form.username"
               required
               #username="ngModel" />
        <div class="alert alert-danger"
             role="alert"
             *ngIf="username.errors && f.submitted">
          Username is required!
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="password">Password</label>
        <input type="text"
               class="form-control"
               name="password"
               id="password"
               [(ngModel)]="form.password"
               required
               minlength="3"
               #password="ngModel" />
        <div class="alert alert-danger"
             role="alert"
             *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 3 characters
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label for="employeeType">Employee Type</label>
        <select [(ngModel)]="form.employeeType"
                name="employeeType"
                id="employeeType"
                #employeeType="ngModel"
                class="form-control">
          <option disabled>Select Employee Type</option>
          <option *ngFor="let employeeType of employeeTypes">{{employeeType.lookupValue}}</option>
        </select>
      </div>
    </div>
    <br />
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label for="payRate">Pay Rate</label>
        <input type="number"
               class="form-control"
               name="payRate"
               id="payRate"
               [(ngModel)]="form.payRate"
               required
               min="0"
               #payRate="ngModel" />
        <div class="alert alert-danger"
             role="alert"
             *ngIf="payRate.errors && f.submitted">
          <div *ngIf="payRate.errors['required']">Pay rate is required</div>
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-12 gap-3" style="display: flex; flex-direction: row;">
      <div class="form-group col-md-5">
        <label for="currentHireDate">Current Hire Date</label>
        <input [ngModel]="getFormattedDate(form.originalHireDate)"
               type="text"
               name="currentHireDate"
               id="currentHireDate"
               disabled
               #currentHireDate="ngModel"
               class="form-control" />
      </div>
      <div class="form-group col-md-5">
        <label for="hireDate">Change Hire Date</label>
        <input [(ngModel)]="form.hireDate"
               type="date"
               name="hireDate"
               id="hireDate"
               required
               #hireDate="ngModel"
               class="form-control" />
        <div class="alert alert-danger"
             role="alert"
             *ngIf="hireDate.errors && f.submitted">
          Job date is required!
        </div>
      </div>
    </div>
    <br />
    <div class="col-md-12">
      <div class="form-group col-md-6">
        <div class="form-check">
          <input mdbCheckbox
                 class="form-check-input larger"
                 type="checkbox"
                 value=""
                 name="isActive"
                 id="isActive"
                 disabled
                 [ngModel]="form.active"
                 #isActive="ngModel" />
          <label class="form-check-label" for="isActive">
            Active
          </label>
        </div>
      </div>
    </div>
    <br />
    <button class="btn btn-primary btn-block" (click)="onSubmit()">
      Save
    </button>
    &nbsp;
    <button class="btn btn-secondary btn-block" (click)="onCancel(employeeModel)">
      Cancel
    </button>
    <br />
    <br />
    <hr />
  </form>
</div>
