<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/employee-home', pathEmployeeId]">LandscapingTR</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/employee-home', pathEmployeeId]">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/time-entry', pathEmployeeId]">Weekly Time Entry</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin', pathEmployeeId]">Admin</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/settings', pathEmployeeId]">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!--DO NOT TOUCH THE HEADER, IT KEEPS TRACK OF THE LOGGED-IN EMPLOYEE VIA THE ROUTE-->

<div *ngIf="loaded" class="container">
  <h1 id="tableLabel">Weekly Timesheet</h1>

  <p *ngIf="!jobs"><em>Loading...</em></p>

  <br />
  <div *ngIf="employeeModel.employeeTypeId === getAdminType() || employeeModel.employeeTypeId === getSupervisorType()" class="nav-item">
    <button class="btn btn-save" (click)="rerouteToApprovalPage(employeeModel)">Approve Timesheets</button>

  </div>
  <br />
  <b><h2>Week #25: 10/29 - 11/04</h2></b>
  <hr />
  <form *ngIf="loaded"
        name="form"
        #f="ngForm"
        novalidate>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="jobs">
      <thead>
        <tr>
          <th>Job:</th>
          <th>Sunday:</th>
          <th>Monday:</th>
          <th>Tuesday:</th>
          <th>Wednesday:</th>
          <th>Thursday:</th>
          <th>Friday:</th>
          <th>Saturday:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs; let i = index;" class="">
          <td>
            Job # {{i + 1}}:
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="sunday"
                   id="sunday"
                   [(ngModel)]="form.sunday"
                   required
                   #sunday="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="monday"
                   id="monday"
                   [(ngModel)]="form.monday"
                   required
                   #monday="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="tuesday"
                   id="tuesday"
                   [(ngModel)]="form.tuesday"
                   required
                   #tuesday="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="wednesday"
                   id="wednesday"
                   [(ngModel)]="form.wednesday"
                   required
                   #wednesday="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="thursday"
                   id="thursday"
                   [(ngModel)]="form.thursday"
                   required
                   #thursday="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="friday"
                   id="friday"
                   [(ngModel)]="form.friday"
                   required
                   #friday="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="saturday"
                   id="saturday"
                   [(ngModel)]="form.saturday"
                   required
                   #saturday="ngModel" />
          </td>
          <br />
        </tr>
      </tbody>
    </table>
    <button class="btn btn-save">Submit</button>
    &nbsp;
    <button class="btn btn-primary">Save</button>
  </form>
</div>
