<header *ngIf="loaded">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/employee-home', pathEmployeeId]">LandscapingTR</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/employee-home', pathEmployeeId]">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/time-entry', pathEmployeeId]">Weekly Time</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin', pathEmployeeId]">Employees</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/job-management', pathEmployeeId]">Jobs</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/settings', pathEmployeeId]">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="dummy-header"></div>

<!--DO NOT TOUCH THE HEADER, IT KEEPS TRACK OF THE LOGGED-IN EMPLOYEE VIA THE ROUTE-->

<div *ngIf="loaded" class="container">
  <h1 id="tableLabel">Weekly Timesheet</h1>

  <p *ngIf="!jobs"><em>Loading...</em></p>

  <br />
  <div *ngIf="employeeModel.employeeTypeId === getAdminType() || employeeModel.employeeTypeId === getSupervisorType()" class="nav-item">
    <button class="btn bg-success btn-save" (click)="rerouteToApprovalPage(employeeModel)">Approve Timesheets</button>

  </div>
  <br />
  <b><h2>Week #49: 11/26 - 12/02</h2></b>
  <hr />
  <form *ngIf="loaded"
        name="form"
        #f="ngForm"
        novalidate>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="jobs">
      <thead>
        <tr>
          <th>Job:</th>
          <th>Sunday:</th>
          <th>Monday:</th>
          <th>Tuesday:</th>
          <th>Wednesday:</th>
          <th>Thursday:</th>
          <th>Friday:</th>
          <th>Saturday:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs; let i = index;" class="">
          <td>
            {{job.jobName}}:
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="sunday{{i}}"
                   id="sunday{{i}}"
                   [(ngModel)]="forms[i].sunday"
                   required
                   #sunday{{i}}="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="monday{{i}}"
                   id="monday{{i}}"
                   [(ngModel)]="forms[i].monday"
                   required
                   #monday{{i}}="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="tuesday{{i}}"
                   id="tuesday{{i}}"
                   [(ngModel)]="forms[i].tuesday"
                   required
                   #tuesday{{i}}="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="wednesday{{i}}"
                   id="wednesday{{i}}"
                   [(ngModel)]="forms[i].wednesday"
                   required
                   #wednesday{{i}}="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="thursday{{i}}"
                   id="thursday{{i}}"
                   [(ngModel)]="forms[i].thursday"
                   required
                   #thursday{{i}}="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="friday{{i}}"
                   id="friday{{i}}"
                   [(ngModel)]="forms[i].friday"
                   required
                   #friday{{i}}="ngModel" />
          </td>
          <td>
            <input type="number"
                   min="0"
                   max="24"
                   class="form-control"
                   name="saturday{{i}}"
                   id="saturday{{i}}"
                   [(ngModel)]="forms[i].saturday"
                   required
                   #saturday{{i}}="ngModel" />
          </td>
          <br />
        </tr>
      </tbody>
    </table>
    <button class="btn bg-success btn-save" (click)="saveTimesheet(true)">Submit</button>
    &nbsp;
    <button class="btn btn-primary" (click)="saveTimesheet(false)">Save</button>
  </form>
</div>
