<header *ngIf="loaded">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/employee-home', pathEmployeeId]">LandscapingTR</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/employee-home', pathEmployeeId]">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/time-entry', pathEmployeeId]">Weekly Time</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin', pathEmployeeId]">Employees</a>
          </li>

          <!-- Make this only if the employee is of type admin, must use enums that match c#-->
          <li *ngIf="employeeModel.employeeTypeId === getAdminType()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/job-management', pathEmployeeId]">Jobs</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/settings', pathEmployeeId]">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="dummy-header"></div>

<!--DO NOT TOUCH THE HEADER, IT KEEPS TRACK OF THE LOGGED-IN EMPLOYEE VIA THE ROUTE-->

<div *ngIf="loaded" class="container">
  <h1 id="tableLabel">Employee List</h1>

  <p *ngIf="!employees"><em>Loading...</em></p>
  <br />
  <button class="btn btn-primary" (click)="rerouteToAddEmployeePage(employeeModel)">Add Employee</button>
  <br />
  <hr />
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
    <thead>
      <tr>
        <th>First Name:</th>
        <th>Last Name:</th>
        <th>Username:</th>
        <th>Employee Type:</th>
        <th>Hire Date:</th>
        <th class="td-center">Rate:</th>
        <th class="td-center">Efficiency:</th>
        <th class="td-center">Status:</th>
        <th>Action:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ matchEmployeeType(employee.employeeTypeId) }}</td>
        <td>{{ getFormattedDate(employee.createdDate) }}</td>
        <td class="td-center">${{employee.payRate}}</td>
        <td class="td-center">{{employee.efficiency}}%</td>
        <td>{{ employee.active || 'Active'}}</td>
        <td>
          <button class="btn btn-primary" (click)="rerouteToEditEmployeePage(employeeModel, employee)">View</button>
          &nbsp;
          <button (click)="deleteEmployee(employee)" type="button" class="btn btn-secondary">
            <app-trash-can></app-trash-can>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
